{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>TPBBOY for gamer</title>
  <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
  <meta name="description" content="This is an esports and gaming html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header active" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'webgame/assets/images/logo.svg' %}" width="110" height="53" alt="unigine home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home2' %}" class="navbar-link" data-nav-link>home</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'news2' %}" class="navbar-link" data-nav-link>news</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'game2' %}" class="navbar-link" data-nav-link>game</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'chat' %}" class="navbar-link" data-nav-link>chat</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'about2' %}" class="navbar-link" data-nav-link>about us</a>
          </li>

        </ul>
      </nav>

      <a href="" class="btn" data-btn>{{username}}</a>
      <a href="{% url 'LogoutView' %}" class="btn" data-btn>Logout</a> 

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #game
      -->

      <section class="section news" aria-label="our latest news" id="news">
        <div class="container">

          <h2 class="h2 section-title" data-reveal="bottom">
            Dead Space  <span class="span">Remake </span>
          </h2>
          <ul class="news-list2">

            <li data-reveal="bottom">
              <div class="news-card">

                <div class="card-content">
                  <p class="card-text">
                    
                  </p>
                </div>

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_1_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <p class="card-text">
                  </p>

                  <h3 class="h3">
                    Dead Space Remake การกลับมาของเกมสยองขวัญระดับตำนาน สะท้านอวกาศ
                  </h3>

                  <p class="card-text">
                    ย้อนไปเมื่อสิบกว่าปีก่อนนั้น ในช่วงที่เกมสยองขวัญกำลังบูมและเป็นที่นิยมอยู่ Dead Space คือชื่อของอีกหนึ่งสดยอดเกมที่เรียกได้ว่า 
                    คนเล่นต้องใจถึงจริง ๆ ถึงจะพยายามกลั้นใจเล่นจนจบได้ เพราะมันน่ากลัวสุด ๆ อย่างไรก็ตาม กว่า 15 ปีผ่านไป ในที่สุด EA Motive 
                    ก็ตัดสินใจหยิบเอาเกมซีรีส์นี้มาปัดฝุ่นใหม่อีกครั้งใน Dead Space Remake แต่การ Remake ของเกมนี้จะยิ่งใหญ่ สมศักดิ์ศรีการรอคอยมาก
                    น้อยแค่ไหนกันแน่
                  </p>
                  
                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    การ Remake ใหม่โดยใช้เอนจิ้นยอดนิยมของ EA อย่าง Frostbite Engine
                  </h3>
                  
                </div>
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_1_2.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    ย้อนไปเมื่อปี 2021 Jeff Grubb นักข่าววงการเกมชื่อดังเคยออกมาเปิดเผยว่า Dead Space Remake นั้น กำลังพัฒนาอยู่ 
                    ภายใต้การดูแลของ EA Motive และเลือกที่จะใช้เอนจิ้นเกมยอดนิยมประจำค่าย อย่าง Frostbite Engine โดยมีข่าวลือว่า 
                    การตัดสินใจ Remake เพราะเห็นถึงการประสบความสำเร็จของเกม Survival Horror หลาย ๆ เกม อย่าง Resident Evil 2 
                    และ 3 Remake แถมยอดขายเกม Single Player อย่าง Star Wars Jedi: Fallen Order ก็ถือว่าปังมาก ๆ ทาง EA จึงอนุมัติให้สร้าง
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    ผลงานของ EA Motive ก่อนหน้านี้คือ Star Wars Squadrons ซึ่งเป็นผลงานที่ใช้ Frostbite Engine ในการทำเช่นกัน 
                    งานนี้โปรเจกต์ Dead Space Remake จึงได้เริ่มต้นทำกันอย่างเป็นทางการ โดยมีเป้าหมายให้มันเป็นเกมใหม่ แต่คงเอกลักษณ์หลาย
                    ภาคส่วนของเกมเดิมเอาไว้ให้ได้ด้วย
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    แรกเริ่มเดิมที Dead Space คือผลงานของ Glen Schofield และ EA Redwood Shores ที่อยากสร้างเกมสยองขวัญที่น่ากลัวที่สุด
                    เท่าที่จะเป็นไปได้ และตัวเกมยังได้แรงบันดาลใจมาจากเกมอย่าง Resident Evil 4 และเกมยังใช้เวลาในการสร้างไม่ถึง 1 ปีอีกด้วย 
                    แต่เป็นตำนานตราตรึงจนถึงทุกวันนี้
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    ย้อนรอยสู่ความสยองขวัญบนยานอิชิมูระกับวิศวกรหนุ่มดวงซวย
                  </h3>

                </div>

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_1_3.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    Dead Space เป็นเรื่องราวของ Isaac Clarke วิศวกรยานและสมาชิกทีมช่วยเหลือที่ถูกส่งมายังดาวเคราะห์ Aegis 7 
                    เพื่อตามหายาน USG Ishimura ที่ขาดการติดต่อไป ส่วนตัว Isaac เองก็มาตามหาตัว Nicole แฟนสาวที่มากับยานลำนี้ด้วย 
                    แต่แล้วก็พบว่าทั้งยานเต็มไปด้วยโศกนาฎกรรมที่เกิดจากวัตถุประหลาดที่ทำให้ผู้คนคลุ้มคลั่งและกลายร่างไปเป็น Necromorphs 
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    Isaac พ่อหนุ่มวิศวกรดวงซวยต้องเผชิญหน้ากับเหล่าอสูรกายสุดสะพรึงอย่าง Necromorphs ที่ถือว่าเป็นหนึ่งในศัตรูที่น่ากลัวเป็นเบอร์ต้น ๆ 
                    ของวงการเกมเลยทีเดียว และเมื่อมันกลับมาในเวอร์ชั่น Remake จะออกมาเป็นยังไง ก็มาเตรียมตัว และรอดูกันได้ในปีหน้า แต่นี่คือรายละเอียด
                    เบื้องต้นของ Dead Space Remake
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    Next-Gen อย่างแท้จริงกับเวอร์ชั่น Remake ที่จะทำให้เกมการเล่นระทึกยิ่งขึ้น
                  </h3>
                  
                </div>
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_1_4.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    เบื้องต้นของรายละเอียดเกมนี้ ทีมงาน EA Motive บอกว่า มันเป็นการ Rebuild หรือสร้างขึ้นมาใหม่แต่แรก 
                    โดยไม่ใส่ของเก่าเข้ามาเลย ในแง่ของภาพ เสียง เนื้อหา เกมเพลย์การเล่น ทุกอย่างจะถูกสร้างขึ้นมาใหม่ทั้งหมด 
                    แต่ยังคงมีฐานจากของเดิม มันไม่ใช่การพอร์ต แต่เป็นการสร้างขึ้นมาใหม่ทั้งหมดจริง ๆ 
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    นอกจากนั้นด้วยความที่ตัวเกมเข้าสู่ Generation ใหม่แล้ว คราวนี้ตัวเกมเลยจะลงให้กับเครื่องรุ่นใหม่อย่าง PC , 
                    PlayStation 5 , Xbox Series ด้วยขุมกำลังของเครื่องเกมยุคนี้สามารถเล่นแบบ No Loading Screen หรือไร้ฉากโหลดใด ๆ 
                    เข้ามาได้ ทำให้ผู้เล่นสามารถเต็มอิ่มกับการผจญภัยโดยไม่ถูกขัดจังหวะด้วยฉากโหลดแต่อย่างใด และที่เจ๋งจริง ๆ ก็คือ แม้จะใช้เนื้อหาดั้งเดิม 
                    แต่ทีมงานก็เปิดเผยว่า จะมีการใส่หลายสิ่งหลายอย่างที่ตั้งใจจะใส่ไว้ในต้นฉบับ แต่ด้วยขีดจำกัดของฮาร์ดแวร์ในอตนั้น ทำให้ต้องตัดออกไป 
                    ซึ่งอันนี้ก็ต้องรอดูว่าเขาจะใส่อะไรลงไปบ้าง
                  </p>
                  
                </div>
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_1_5.jpg' %}" width="600" height="400" loading="lazy"
                  alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    และใครที่กำลังคิดจะแซว EA ว่า เดี๋ยวคงหั่น DLC หั่นของมาขายแยกอีก ขอบอกเลยว่าปลอดภัยหายห่วง เพราะรอบนี้ยืนยันเลยว่า 
                    มันจะมาแบบเกมเต็มจริง ๆ ไม่มีหั่นแยก ไม่มีขายของยิบย่อย ซื้อเท่าไร จ่ายเท่าไร ได้กลับไปแบบเต็มเม็ดเต็มหน่วยแน่นอนและท้ายที่สุด 
                    ใครที่เซ็งกับการที่ตัวเอกภาคแรกจะมีเสียงพากย์ใส่เข้ามาให้แล้ว ทุกคนจะได้เลิกแซวว่า Isaac เป็นใบ้ ไร้อารมณ์กันเสียที 
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    จัดเต็มขนาดนี้ บอกได้เลยว่า ยังไงก็น่าสัมผัส กับประสบการณ์ Dead Space Remake ใครที่ยังติดใจเกมภาคนี้ รอสัมผัสกันได้ด้วยตัวเองในวันที่ 
                    24 มกราคม 2023 ทั้งบน PC และ Console
                  </p>
                  
                </div>
                
              </div>
            </li>
          </ul>
          
        </div>
      </section>
      
    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'webgame/assets/images/logo.svg' %}" width="150" height="73" loading="lazy" alt="Unigine logo">
          </a>

          <p class="footer-text">
            Our success in creating business solutions is due in large part to our talented and highly committed team.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Usefull Links</p>

          <ul>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Contact Us</p>

          <div class="contact-item">
            <span class="span">Location:</span>

            <address class="contact-link">
              6 Ratchamankha Nai Road, Phra Pathom Chedi Subdistrict Mueang Nakhon Pathom District, Nakhon Pathom 73000
            </address>
          </div>

          <div class="contact-item">
            <span class="span">Join Us:</span>

            <a href="mailto:Info@unigine.com" class="contact-link">TcpBoy.com</a>
          </div>
        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Newsletter Signup</p>

          <form action="./index.html" method="get" class="footer-form">
            <input type="email" name="email_address" required placeholder="Your Email" autocomplete="off"
              class="input-field">

            <button type="submit" class="btn" data-btn>Subscribe Now</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 Website for educational purposes only.
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - #CUSTOM CURSOR
  -->

  <div class="cursor" data-cursor></div>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'webgame/assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>