{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>TPBBOY for gamer</title>
  <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
  <meta name="description" content="This is an esports and gaming html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header active" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'webgame/assets/images/logo.svg' %}" width="110" height="53" alt="unigine home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home' %}" class="navbar-link" data-nav-link>home</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'news' %}" class="navbar-link" data-nav-link>news</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'game' %}" class="navbar-link" data-nav-link>game</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'chat' %}" class="navbar-link" data-nav-link>chat</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'about' %}" class="navbar-link" data-nav-link>about us</a>
          </li>

        </ul>
      </nav>

      <a href="" class="btn" data-btn>Login</a>
      <a href="{% url 'register' %}"" class="btn" data-btn>register</a> 

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #game
      -->

      <section class="section news" aria-label="our latest news" id="news">
        <div class="container">

          <h2 class="h2 section-title" data-reveal="bottom">
            Diablo   <span class="span">IV </span>
          </h2>
          <ul class="news-list2">

            <li data-reveal="bottom">
              <div class="news-card">

                <div class="card-content">
                  <p class="card-text">
                    
                  </p>
                </div>

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_4_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <p class="card-text">
                  </p>

                  <h3 class="h3">
                    Diablo IV ทวงบัลลังก์เจ้าแห่งเกม Action RPG กลับมาอย่างยิ่งใหญ่กว่าภาคก่อน
                  </h3>

                  <p class="card-text">
                    ปี 2023 ถือเป็นปีที่มีเกมฟอร์มยักษ์ออกมาให้เราได้เล่นกันเยอะมาก ๆ หลายเกมก็เป็นเกมใหม่ หลายเกมก็เป็นภาคต่อที่คนทั้งโลกรอคอย เหมือนอย่างเช่นเกมนี้ กับ Diablo IV การมาถึงอย่างเป็นทางการของภาคที่ 4 สำหรับเกม Action RPG ระดับตำนานจาก Activision Blizzard ที่หลังจากเปิดตัวกันมาตั้งแต่ปี 2019 เรากำลังจะได้สัมผัสมันจริง ๆ แล้วกับ Diablo IV แต่ภาคนี้จะมีอะไรน่าสนใจบ้าง มาดูกัน
                  </p>
                  
                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    เปิดตำนานล่าจ้าวอสูรครั้งใหม่
                  </h3>
                  
                </div>
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_4_2.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    หลังจากการทำลายล้างของ Black Soulstone และการพ่ายแพ้ของ Prime Evil กับความล่มสลายของ Malthael นี่คือช่วงเวลาที่ผู้คนแห่ง Sanctuary กำลังพยายามดิ้นรนผ่านช่วงเวลาแห่งความมืดมน วิถีชีวิตค่อย ๆ ถูกสร้างขึ้นมาใหม่ และภัยคุกคามก็ยังคงอยู่ เนื้อหาในเกมภาคนี้จะเป็นช่วงเวลา 50 ปีหลังจากเหตุการณ์ใน Diablo III: Reaper of Souls หลังจากที่ผู้คนนับล้านโดน High Heavens สังหาร เนื้อหาในภาคนี้จะมีอารมณ์และบรรยากาศที่คล้ายกับ Diablo II และเป้าหมายของเราคือ Lilith ลูกสาวของ Mephisto โดยมีธีมหลักของเกมคือ “ความเกลียดชัง”
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    ใครที่ติดตามเนื้อหาของเกมสามภาคแรกมาอยู่แล้วก็ไม่มีเหตุผลอะไรจะให้ปล่อยผ่านภาคนี้ เพราะเนื้อเรื่องที่น่าจะจัดเต็ม ดุเดือด เข้มข้นมากยิ่งขึ้น แค่เห็นธีมเนื้อหาก็คิดว่าภาคนี้ต้องไม่ธรรมดาแน่ ๆ แต่จะมีอะไรเซอร์ไพรส์พลิกผันไปจากเดิมหรือไม่ก็คงต้องรอกันในช่วงที่เกมออกวางจำหน่าย
                  </p>

                  <p class="card-text">
                  </p>
                  
                  
                  
                  <h3 class="h3">
                    5 อาชีพ 5 ทางเลือก พร้อมให้ตอบสนองทุกความต้องการของผู้เล่น
                  </h3>

                </div>

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_4_3.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    ใน Diablo IV จะมีให้เล่นทั้งหมด 5 อาชีพหลัก ๆ เริ่มจาก Druid ที่สามารถควบคุมเวทมนตร์แห่งดินและพายุได้ นอกจากนั้นยังสามารถเปลี่ยนร่างเป็นหมีคลั่งและหมาป่าได้อย่างราบรื่น ช่วยเพิ่มสถานะพิเศษให้ชั่วคราว / จอมพลัง Barbarian ที่มาพร้อมพละกำลังมหาศาล และอาวุธขนาดยักษ์ ทำให้กำหนดทักษะจากอาวุธและระบบ Arsenal ได้ / จอมเวท Sorceress ที่เชี่ยวชาญเวทมนตร์สายฟ้าและน้ำแข็ง 
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    และยิงศัตรูจากระยะไกล และใช้ระบบใหม่อย่าง Enchantment ได้ด้วย / Rogue ที่มีความสามารถในการลอบเร้น และเชี่ยวชาญการวางกับดัก และการใช้ธนู และยังมีความเชี่ยวชาญแบบพิเศษอย่าง Shadow Realm / Necromancer ที่สามารถปลุกชีพคนตายให้มาเป็นพวกพ้อง ใช้ซากศพเป็นกองกำลังต่อสู้
                  </p>

                  <p class="card-text">
                  </p>

                  <p class="card-text">
                    แม้เราจะเลือกอาชีพเป็นหลักเป็นแหล่ง แต่ในเกมนี้เราสามารถปรับแต่งและสร้างตัวละครของเราขึ้นมาเองได้ทั้งหมด ตั้งแต่ชุดเกราะที่มีเอกลักษณ์หลายร้อยชิ้น จนถึงลักษณะใบหน้าและร่างกายที่มีรายละเอียดและสีอีกมากมาย อยากให้ตัวละครของคุณเป็นแบบไหน ก็จัดได้ตามสะดวก
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    คอนเทนต์จัดเต็ม เนื้อเรื่องยิงยาว และ End Game Content อีกเพียบ
                  </h3>
                  
                </div>
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_4_4.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    ในภาคนี้จะเน้นกลไกและระบบใหม่ ๆ ที่ผู้เล่นจะได้ตอบโต้กับโลก Open World ของตัวเกม เช่น กิจกรรมในพื้นที่สาธารณะที่เราจะได้ต่อสู้กับศัตรูขนาดใหญ่ไปพร้อม ๆ กับผู้เล่นคนอื่นในพื้นที่่ ระบบคลาสและอาชีพต่าง ๆ ล้วนมีเอกลักษณ์และบทบาทหน้าที่อยู่ในระดับที่สูงมาก หากอยากลุยแบบสะดวกสบาย และง่ายขึ้นก็อาจจะต้องมีครบทุกสายอาชีพในปาร์ตี้เดียวกัน
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    นอกจากนั้นเรายังสามารถกำหนด Skill Tree ของเราได้เองแบบเลเวลต่อเลเวล มันมีความหมายและจะทำให้ตัวละครเก่งขึ้นจริง ๆ และด้วยความเป็นเกม Action RPG การตามหาไอเทมเกรดสีดี ๆ ก็เป็นหัวใจสำคัญ โดยภาคนี้มันจะมีความละเอียดและความลึกที่อยู่ตรงกลางระหว่างเกมภาค 2 และภาค 3 มีการเปลี่ยนแปลงความเร็วของอาวุธและลักษณะทางกายภาพอื่น ๆ ตัวอย่างเช่นเกราะป้องกันจะมีฟีเจอร์อื่น ๆ เสริมอีกนอกจากพลังป้องกัน เป็นต้น
                  </p>

                  <p class="card-text">
                  </p>

                  <p class="card-text">
                    โลก Open World ภายในเกมนี้ จะมีถึง 5 ภูมิภาค และแต่ละภูมิภาคก็เต็มไปด้วยอันตรายของตัวเอง มีหลายเส้นทาง มีหลายพื้นที่ให้ค้นหา มันมีทัศนียภาพและภูมิประเทศที่ชวนให้ผู้เล่นออกผจญภัยอย่างยิ่ง
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    ระทึกด้วยโหมด PvP แบบตายแล้วตายเลย
                  </h3>
                </div>
                
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_4_5.jpg' %}" width="600" height="400" loading="lazy"
                  alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <p class="card-text">
                    เอาใจสายฮาร์ดคอร์กับคนที่ชื่นชอบการ PvP และเป็นการ PvP ที่โหดมาก เพราะในเกมนี้เราจะได้ PvP แบบ Permadeath หรือตายแล้ว ตายเลย ในกรณีที่ผู้เล่นเลือกโหมด Hardcore ความตายหมายถึงจุดจบสำหรับตัวละครตัวนั้น ๆ และคุณต้องสร้างตัวละครใหม่เท่านั้น
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    ลองคิดดูว่าถ้าเล่นโหมดนี้ ลำพังศัตรูก็โหดอยู่แล้ว เจอผู้เล่นด้วยกันเข้าไปอีก จะตึงมือขนาดไหน ใครอยากท้าทายฝีมือ เจอกันแน่กับโหมด Hardcore และ Permadeath  
                  </p>
                  
                </div>
                
              </div>
            </li>
          </ul>
          
        </div>
      </section>
      
    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'webgame/assets/images/logo.svg' %}" width="150" height="73" loading="lazy" alt="Unigine logo">
          </a>

          <p class="footer-text">
            Our success in creating business solutions is due in large part to our talented and highly committed team.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Usefull Links</p>

          <ul>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Contact Us</p>

          <div class="contact-item">
            <span class="span">Location:</span>

            <address class="contact-link">
              6 Ratchamankha Nai Road, Phra Pathom Chedi Subdistrict Mueang Nakhon Pathom District, Nakhon Pathom 73000
            </address>
          </div>

          <div class="contact-item">
            <span class="span">Join Us:</span>

            <a href="mailto:Info@unigine.com" class="contact-link">TcpBoy.com</a>
          </div>
        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Newsletter Signup</p>

          <form action="./index.html" method="get" class="footer-form">
            <input type="email" name="email_address" required placeholder="Your Email" autocomplete="off"
              class="input-field">

            <button type="submit" class="btn" data-btn>Subscribe Now</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 Website for educational purposes only.
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - #CUSTOM CURSOR
  -->

  <div class="cursor" data-cursor></div>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'webgame/assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>