{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>TPBBOY for gamer</title>
  <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
  <meta name="description" content="This is an esports and gaming html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header active" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'webgame/assets/images/logo.svg' %}" width="110" height="53" alt="unigine home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home2' %}" class="navbar-link" data-nav-link>home</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'news2' %}" class="navbar-link" data-nav-link>news</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'game2' %}" class="navbar-link" data-nav-link>game</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'chat' %}" class="navbar-link" data-nav-link>chat</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'about2' %}" class="navbar-link" data-nav-link>about us</a>
          </li>

        </ul>
      </nav>

      <a href="" class="btn" data-btn>{{username}}</a>
      <a href="{% url 'LogoutView' %}" class="btn" data-btn>Logout</a> 

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #game
      -->

      <section class="section news" aria-label="our latest news" id="news">
        <div class="container">

          <h2 class="h2 section-title" data-reveal="bottom">
            Lies of   <span class="span">P </span>
          </h2>
          <ul class="news-list2">

            <li data-reveal="bottom">
              <div class="news-card">

                <div class="card-content">
                  <p class="card-text">
                    
                  </p>
                </div>

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_6_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <p class="card-text">
                  </p>

                  <h3 class="h3">
                    Lies of P
                  </h3>

                  <p class="card-text">
                    Neowiz และ Round8 Studio ประกาศ Lies of P ได้ปล่อย Story Trailer ออกมาเมื่อไม่นานนี้ ตัวเกมจะเป็นธีม มืดหม่น กดดันผู้เล่น (Souls-like game and dark Action ) ทางผู้พัฒนาได้ประกาศจะให้บริการใน PlayStation 5, Xbox Series, และ PC ผ่าน Steam.
                  </p>
                  
                  <p class="card-text">
                  </p>
                  
                  <h3 class="h3">
                    ผู้เล่น ตื่นขึ้นมาที่สถานีรถไฟร้างแห่งหนึ่งในเมือง Krat เมืองที่เต็มไปด้วยความบ้าคลั่งและความกระหายเลือด และจะมีแค่โน็ตทิ้งไว้ไห้ไขปริศนา “Find Mr. Geppetto. He’s in this city.” หรือ “ ตามหา Mr. Geppetto. เขาอยู่ในเมือง ”
                  </h3>
                  
                </div>
                
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_6_2.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                <div class="card-content">
                  <p class="card-text">
                  </p>
                </div>
                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_6_3.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <h3 class="h3">
                    Lies of P – Story Trailer
                  </h3>

                  <p class="card-text">
                    Lies of P ตัวเกมได้นำเสนอโลกที่สง่างามที่เต็มไปด้วยความตึงเครียด และ มีเนื้อหาที่น่าติดตาม รวมถึงตัวเกมยังมีระบบบบต่อสู้ที่ซับซ่อน
                  </p>

                  <p class="card-text">
                  </p>
                  
                  

                </div>

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_6_4.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>
                
                <div class="card-content">
                  <h3 class="h3">
                    จุดเด่นของตัวเกม
                  </h3>

                  <p class="card-text">
                    · ระบบ เควส “โกหก” และหลายตอนจบที่ไม่เหมือนกัน ผู้เล่นสัมผัสประสบการณ์เควสขั้นตอนที่เชื่อมต่อระหว่างกันซึ่งเล่นได้ขึ้นอยู่กับว่าคุณโกหกอย่างไร จากนั้นตัวเลือกเหล่านี้จะส่งผลต่อการจบลงของเรื่องราว
                  </p>

                  <p class="card-text">
                  </p>
                  
                  <p class="card-text">
                    · ระบบทักษะพิเศษ เมื่อพินอคคิโอเป็นตุ๊กตาคุณสามารถเปลี่ยนส่วนต่างๆของร่างกายเพื่อรับทักษะใหม่ ๆ แต่ไม่ใช่การปรับปรุงทั้งหมดสำหรับการต่อสู้ แต่ยังสามารถให้คุณสมบัติที่เป็นเอกลักษณ์และมีประโยชน์อื่น ๆ และอีกมากมาย
                  </p>

                  <p class="card-text">
                  </p>

                  <p class="card-text">
                    · ระบบสร้างอาวุธ – คุณสามารถรวมอาวุธได้หลายวิธีเพื่อสร้างสิ่งใหม่ ๆ ค้นคว้าเพื่อค้นหาชุดค่าผสมที่ดีที่สุดและสร้างสิ่งพิเศษอย่างแท้จริง
                  </p>

                  <p class="card-text">
                  </p>

                  <p class="card-text">
                    · เรื่องราวเหนือกาลเวลาของ Pinocchio ที่อยู่ในเมืองที่ล่มสลาย แต่ต้องต่อสู้อย่างหนักเพื่อที่จะกลายเป็นมนุษย์เพื่อต่อสู้กับทุกสิ่ง
                  </p>

                  <p class="card-text">
                  </p>

                  <p class="card-text">
                    · แนวคิด เมือง Krat ได้รับแรงบันดาลใจจากยุค Belle Epoque ในยุโรป (ปลายศตวรรษที่ 19 ถึงต้นศตวรรษที่ 20) และเป็นตัวอย่างของเมืองที่พังทลายลงจากความเจริญรุ่งเรือง
                  </p>

                  <p class="card-text">
                  </p>
                  
                  
                  
               
                
              </div>
            </li>
          </ul>
          
        </div>
      </section>
      
    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'webgame/assets/images/logo.svg' %}" width="150" height="73" loading="lazy" alt="Unigine logo">
          </a>

          <p class="footer-text">
            Our success in creating business solutions is due in large part to our talented and highly committed team.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Usefull Links</p>

          <ul>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Contact Us</p>

          <div class="contact-item">
            <span class="span">Location:</span>

            <address class="contact-link">
              6 Ratchamankha Nai Road, Phra Pathom Chedi Subdistrict Mueang Nakhon Pathom District, Nakhon Pathom 73000
            </address>
          </div>

          <div class="contact-item">
            <span class="span">Join Us:</span>

            <a href="mailto:Info@unigine.com" class="contact-link">TcpBoy.com</a>
          </div>
        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Newsletter Signup</p>

          <form action="./index.html" method="get" class="footer-form">
            <input type="email" name="email_address" required placeholder="Your Email" autocomplete="off"
              class="input-field">

            <button type="submit" class="btn" data-btn>Subscribe Now</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 Website for educational purposes only.
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - #CUSTOM CURSOR
  -->

  <div class="cursor" data-cursor></div>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'webgame/assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>