{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>TPBBOY for gamer</title>
  <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
  <meta name="description" content="This is an esports and gaming html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header active" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'webgame/assets/images/logo.svg' %}" width="110" height="53" alt="unigine home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home' %}"" class="navbar-link" data-nav-link>home</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'news' %}" class="navbar-link" data-nav-link>news</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'game' %}" class="navbar-link" data-nav-link>game</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'chat' %}" class="navbar-link" data-nav-link>chat</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'about' %}" class="navbar-link" data-nav-link>about us</a>
          </li>

        </ul>
      </nav>

      <a href="" class="btn" data-btn>Login</a>
      <a href="{% url 'register' %}"" class="btn" data-btn>register</a> 

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>

  <main>
    <article>
      <!-- 
        - #game
      -->

      <section class="section news" aria-label="our latest news" id="news">
        <div class="container">

          <h2 class="h2 section-title" data-reveal="bottom">
            Game <span class="span">Stories</span>
          </h2>
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_1_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Dead Space Remake 
                  </h3>

                  <p class="card-text">
                    Dead Space Remake การกลับมาของเกมสยองขวัญระดับตำนาน สะท้านอวกาศ
                    การ Remake ใหม่โดยใช้เอนจิ้นยอดนิยมของ EA อย่าง Frostbite Engine
                    ย้อนรอยสู่ความสยองขวัญบนยานอิชิมูระกับวิศวกรหนุ่มดวงซวย Next-Gen อย่างแท้จริงกับเวอร์ชั่น 
                    Remake ที่จะทำให้เกมการเล่นระทึกยิ่งขึ้น
                  </p>

                  <a href="{% url 'g1' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_2_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Resident Evil 4
                  </h3>

                  <p class="card-text">
                    Resident Evil 4 Remake การกลับมาของภาคที่แฟน ๆ ชื่นชอบที่สุดในเวอร์ชั่น Remake แบบเต็มตัว
                    Resident Evil 4 ภาคที่รื้อไอเดียทำใหม่กันหลายรอบมากที่สุด ปฏิบัติการช่วยเหลือลูกสาวประธานาธิบดีของ 
                    Leon S. Kennedy Remake ใหม่ด้วย RE Engine ดาร์ค และสยองขวัญกว่าต้นฉบับ
                  </p>

                  <a href="{% url 'g2' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_3_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Dead Island 2
                  </h3>

                  <p class="card-text">
                    Dead Island 2 สิ้นสุดการรอคอยกว่า 9 ปี กับนรกบนดินที่คราวนี้ไม่ได้เกิดเหตุบนเกาะ!
                    เปิดตัวภาคแรกอย่างงดงาม ทั้งกระแส และคำตอบรับหลังเกมวางจำหน่าย วิบากกรรม ดีเลย์ 9 ปี 
                    เปลี่ยนทีมพัฒนามากถึง 4 ทีม
                  </p>

                  <a href="{% url 'g3' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>

          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_4_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Diablo IV 
                  </h3>

                  <p class="card-text">
                    Diablo IV ทวงบัลลังก์เจ้าแห่งเกม Action RPG กลับมาอย่างยิ่งใหญ่กว่าภาคก่อน
                    เปิดตำนานล่าจ้าวอสูรครั้งใหม่ 5 อาชีพ 5 ทางเลือก พร้อมให้ตอบสนองทุกความต้องการของผู้เล่น
                    คอนเทนต์จัดเต็ม เนื้อเรื่องยิงยาว และ End Game Content อีกเพียบ
                  </p>

                  <a href="{% url 'g4' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_5_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Starfield
                  </h3>

                  <p class="card-text">
                    “Starfield” เกมสำรวจอวกาศสุดยิ่งใหญ่เกมนี้ เหมาะกับผู้เล่นแบบไหนบ้าง?
                    1. เกมเมอร์ที่ชอบเกมแนวผจญภัยอวกาศแนวสมจริง มากกว่าเน้นไซไฟแฟนตาซี
                    2. เกมเมอร์ที่ต้องการเกม Single Player ขนาดใหญ่ แบบเล่นคนเดียว
                  </p>

                  <a href="{% url 'g5' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_6_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Lies of P
                  </h3>

                  <p class="card-text">
                    Neowiz และ Round8 Studio ประกาศ Lies of P ได้ปล่อย Story Trailer ออกมาเมื่อไม่นานนี้ 
                    ตัวเกมจะเป็นธีม มืดหม่น กดดันผู้เล่น (Souls-like game and dark Action ) ทางผู้พัฒนาได้ประกาศจะให้บริการใน 
                    PlayStation 5, Xbox Series, และ PC ผ่าน Steam.
                  </p>

                  <a href="{% url 'g6' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>
          
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_7_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    PAYDAY 3
                  </h3>

                  <p class="card-text">
                    ใครจะนึกว่า “การปล้นธนาคาร” จะกลายเป็นวิดีโอเกมไปได้? แต่มันเป็นไปแล้ว เพราะ Payday 
                    เป็นเกมที่เปิดประสบการณ์สิ่งที่เราทำไม่ได้จริง ๆ ในโลก อย่างการ ปล้นธนาคาร ให้กลายเป็นกิจกรรมสุดหฤหรรษ์ 
                    จนได้รับความนิยมอย่างมาก แม้ว่ามันจะดูผิดแปลก แต่มันก็วางจำหน่ายมาอย่างต่อเนื่องถึง 2 ภาคด้วยกัน
                  </p>

                  <a href="{% url 'g7' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_8_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Mortal Kombat 1
                  </h3>

                  <p class="card-text">
                    เกมต่อสู้ของเหล่านักสู้เหนือมนุษย์ ที่กลับมาอีกครั้งในภาคที่ 12 ของซีรีส์ แต่ไม่ได้ใช้ชื่อว่า 
                    Mortal Kombat 12 เนื่องจากภาคนี้ จะเป็นการนับหนึ่งใหม่ กลับสู่จุดเริ่มต้นอีกครั้ง ในชื่อ 
                    “Mortal Kombat 1”
                  </p>

                  <a href="{% url 'g8' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_9_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    EA Sports FC 24
                  </h3>

                  <p class="card-text">
                    EA Sports FC 24 ฤดูกาลใหม่ของเกมฟุตบอลจาก EA ที่คอเกมฟุตบอลเฝ้ารอ
                    อีกหนึ่งแนวเกมยอดนิยมอันดันต้น ๆ ที่เกมเมอร์จะต้องได้เจอกันในทุกปี ไม่เคยหายไปจากวงการเกมเลย 
                    ก็คงจะหนีไม่พ้นเกมแนว Sports โดยเฉพาะแฟรนไชส์เกมฟุตบอลที่ได้รับความนิยมมายาวนานต่อเนื่องหลายภาค 
                    จาก EA Games                     
                  </p>

                  <a href="{% url 'g9' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>
          
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_10_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">TEERAPHAT B.</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Baldur’s Gate III
                  </h3>

                  <p class="card-text">
                    Baldur’s Gate III การกลับมาอย่างยิ่งใหญ่ ของเกม RPG แฟนตาซีสุดเก๋าเมื่อพูดถึงชื่อ 
                    Baldur’s Gate เกมเมอร์สมัยนี้อาจจะไม่ค่อยคุ้นกันแล้ว แต่ถ้าเป็นเกมเมอร์ยุค 90s เชื่อว่าต้อง
                    อ๋อกันไม่มากก็น้อยแน่นอน เพราะนี่คือหนึ่งในสุดยอดเกมแฟนตาซี RPG ระดับตำนาน ผลงานชิ้นเอกของทีมพัฒนา 
                    Bioware ที่เคยประสบความสำเร็จระดับพลิกวงการมาแล้ว 
                  </p>

                  <a href="{% url 'g10' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_11_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    STORY OF SEASONS: A Wonderful Life
                  </h3>

                  <p class="card-text">
                    STORY OF SEASONS: A Wonderful Life ชีวิตมหัศจรรย์ของชาวไร่ หัวใจเกษตร
                    จากความสำเร็จของแฟรนไชส์ STORY OF SEASONS ไม่ว่าจะเป็น Friends of Mineral Town 
                    หรือ Pioneer of Olive Town จึงไม่ต้องแปลกใจที่เรากำลังจะได้เห็นเกมฉบับ Remake ตามออกมาอีกรอบ 
                    และคราวนี้คือภาค A Wonderful Life
                  </p>

                  <a href="{% url 'g11' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_12_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Marvel’s Spider-Man 2
                  </h3>

                  <p class="card-text">
                    “Marvel’s Spider-Man 2” ความท้าทายครั้งใหม่ของเหล่าไอ้แมงมุม!
                    เกม Marvel’s Spider-Man ภาคแรก ที่ออกมาเมื่อปี 2018 นั้น ถือว่าเป็นอีกหนึ่งเกมที่สร้าง
                    ความเซอร์ไพรส์ให้กับเกมเมอร์อย่างมากเลยนะครับ เพราะในที่สุด เราก็มีเกม “สไปเดอร์-แมน (Spider-Man)” 
                    ในระดับที่ยอดเยี่ยมระดับ AAA ให้แฟนสไปดี้ได้ภูมิใจกันซะที กับเกมที่โดดเด่นไปหมดทุกภาคส่วน ทั้งเกมเพลย์ที่สนุกและมีชั้นเชิง 
                    พร้อมกับเนื้อเรื่องของเกมสุดเข้มข้นน่าติดตาม และในปี 2023 นี้ 
                  </p>

                  <a href="{% url 'g12' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>

          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_13_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Final Fantasy XVI
                  </h3>

                  <p class="card-text">
                    สำหรับเกมเมอร์ทุกยุคทุกสมัย ไม่มีใครที่ไม่รู้จัก “ไฟนอล แฟนตาซี (Final Fantasy)” อย่างแน่นอน 
                    กับซีรีส์มหากาพย์แฟนตาซีสุดยิ่งใหญ่ของค่าย Square Enix ที่ยังคงเป็นที่รอคอยของเกมเมอร์ ที่หลงใหลในการตะลุย
                    โลกแฟนตาซีไปกับเหล่าตัวละครเท่ ๆ และเรื่องราวที่เต็มไปด้วยความประทับใจมาหลายยุค
                  </p> 

                  <a href="{% url 'g13' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_14_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    The Texas Chainsaw Massacre
                  </h3>

                  <p class="card-text">
                    The Texas Chainsaw Massacre เปิดตำนาน "สิงหาสับ" ในฉบับวิดีโอเกมสิงหาสับ 
                    ชื่อนี้แฟน ๆ เกมหลายคนอาจจะไม่รู้จัก แต่ถ้าเป็นคอภาพยนตร์ นี่คือสุดยอดภาพยนตร์สยองขวัญ
                    ตลอดกาลที่เข้าฉายมาตั้งแต่ปี 1974 แล้ว และในปี 2023 นี้ ตำนานฆาตกรสิงหาสับ กลับมาอีกครั้ง
                    ในเวอร์ชั่นเกม Multiplayer
                  </p>

                  <a href="{% url 'g14' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_15_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Star Wars Jedi: Survivor 
                  </h3>

                  <p class="card-text">
                    Star Wars Jedi: Survivor อีกหนึ่งการสานต่อที่น่ารอคอยของปีเป็นอีกหนึ่งซีรีส์ที่อยู่คู่ 
                    Star Wars ยุคใหม่ได้อย่างเต็มภาคภูมิ สำหรับซีรีส์ Jedi ที่เน้นไปที่เรื่องราวหลังการกวาดล้างเหล่า
                    ผู้ใช้ฟอซทั้งหลาย มีเพียงไม่กี่คนเท่านั้นที่รอดชีวิตมาได้ และนั่นรวมถึงตัวเอกในเกมนี้ด้วย
                  </p>

                  <a href="{% url 'g15' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>
          
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_16_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Aliens: Dark Descent 
                  </h3>

                  <p class="card-text">
                    Aliens: Dark Descent เมื่อการต่อสู้กับเหล่าเอเลี่ยนต้องใช้สมองและการวางแผนที่แยบยลเอเลี่ยน 
                    สุดยอดสิ่งมีชีวิตกลายพันธุ์ที่คอภาพยนตร์และวิดีโอเกม Sci-Fi ต้องรู้จักกันดี หลังจากทำเอาแฟน ๆ กลัวหัวหดกันไปอย่างหนักใน 
                    Aliens: Isolation และพาไปยิงแหลกกันจนหูดับตับไหม้ใน Alien: Firesteam Elite ตอนนี้เอเลี่ยนกำลังจะมาอีกครั้งแต่
                    มาในรูปแบบของเกมวางแผนกลยุทธ์สุดตึง กับ Aliens: Dark Descent 
                  </p>

                  <a href="{% url 'g16' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_17_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Rune Factory 3
                  </h3>

                  <p class="card-text">
                    Rune Factory 3 Special การกลับมาของเกมแอ็คชั่นเกษตรกรรมในรูปแบบปรับปรุงใหม่ถือว่าเป็นยุคที่หลายค่ายเกม 
                    นำเอาเกมเก่า ผลงานดังของตัวเองกลับมาทำใหม่ ปัดฝุ่นใหม่กันอย่างหลากหลาย และ Marvelous กับ XSEED 
                    เองก็เอากับเขาด้วย โดยคราวนี้เป็นการหยิบเอาซีรีส์เกมปลูกผักทำฟาร์ม แต่ก็ใส่ความเป็น Action RPG ลงไปด้วย
                  </p>
                  <a href="{% url 'g17' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_18_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Minecraft Legends 
                  </h3>

                  <p class="card-text">
                    ถ้าจะกล่าวถึงเกมในยุคใหม่ที่อยู่ในระดับ “สร้างปรากฏการณ์ใหม่” คงมีอยู่ไม่กี่เกม หนึ่งในนั้นก็ต้องเป็น Minecraft เกมง่าย ๆ 
                    แต่ล้ำยุคในแง่ไอเดีย จนกลายเป็นปรากฏการณ์ในทุกช่วงเวลาที่ไม่ว่าใครก็ต้องทำตาม ไม่ว่าทางใดก็ทางหนึ่งปัจจุบัน Minecraft 
                    กลายเป็นแฟรนไชส์ที่ขยายตัวอย่างต่อเนื่อง นอกจากเกมหลักแล้วยังมีเกมอื่น ๆ อีกมากมาย ไม่ว่าจะเป็น Minecraft Story หรือ Minecraft Dungeon
                  </p>

                  <a href="{% url 'g18' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>
          
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_19_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    The Legend of Zelda: Tears of the Kingdom 
                  </h3>

                  <p class="card-text">
                    The Legend of Zelda: Tears of the Kingdom ภาคต่อของตำนานที่คุณไม่ควรพลาดนับเป็นหลายปีที่
                    ทุกคนต่างตั้งหน้ารอคอยจริง ๆ สำหรับภาคต่อของ The Legend of Zelda: Breath of the Wild ซึ่งถือเป็น
                    สุดยอดเกมเซลด้าในรอบหลายปี แม้ภาคก่อน ๆ หน้าของรุ่นพี่จะทำออกมาได้ดีจนกลายเป็นตำนานแทบทุกภาค แต่ภาคนี้ต่างออกไป 
                  </p>

                  <a href="{% url 'g19' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/g_20_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">Game</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Thanapat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    Octopath Traveler II 
                  </h3>

                  <p class="card-text">
                    Octopath Traveler II การเดินทางครั้งใหม่ของทีมนักผจญภัยที่รอบนี้ได้เล่นกันทุกเครื่องเป็นเกมที่
                    ภาคแรกประสบความสำเร็จกันแบบเหลือเชื่อ และกอบกู้หน้าให้กับ Square Enix ได้มากพอสมควรเลยทีเดียว 
                    จึงไม่น่าแปลกใจที่อยู่ดี ๆ เกมนี้จะงอกภาค 2 ตามออกมา แม้ว่าจะต้องทิ้งช่วงห่างจากภาคแรกไปพอสมควร 
                    เพราะนี่เป็นอีกหนึ่งเกม RPG ที่กลายเป็นที่นิยมไปทั่วโลก 
                  </p>

                  <a href="{% url 'g20' %}" class="link has-before">Read More</a>

                </div>

              </div>
            </li>

          </ul>
          
        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'webgame/assets/images/logo.svg' %}" width="150" height="73" loading="lazy" alt="Unigine logo">
          </a>

          <p class="footer-text">
            Our success in creating business solutions is due in large part to our talented and highly committed team.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Usefull Links</p>

          <ul>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Contact Us</p>

          <div class="contact-item">
            <span class="span">Location:</span>

            <address class="contact-link">
              6 Ratchamankha Nai Road, Phra Pathom Chedi Subdistrict Mueang Nakhon Pathom District, Nakhon Pathom 73000
            </address>
          </div>

          <div class="contact-item">
            <span class="span">Join Us:</span>

            <a href="mailto:Info@unigine.com" class="contact-link">TcpBoy.com</a>
          </div>
        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Newsletter Signup</p>

          <form action="./index.html" method="get" class="footer-form">
            <input type="email" name="email_address" required placeholder="Your Email" autocomplete="off"
              class="input-field">

            <button type="submit" class="btn" data-btn>Subscribe Now</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 Website for educational purposes only.
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - #CUSTOM CURSOR
  -->

  <div class="cursor" data-cursor></div>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'webgame/assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>