{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>TPBBOY for gamer</title>
  <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
  <meta name="description" content="This is an esports and gaming html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header active" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'webgame/assets/images/logo.svg' %}" width="110" height="53" alt="unigine home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home' %}" class="navbar-link" data-nav-link>home</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'news' %}" class="navbar-link" data-nav-link>news</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'game' %}" class="navbar-link" data-nav-link>game</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'chat' %}" class="navbar-link" data-nav-link>chat</a>
          </li>
          
          <li class="navbar-item">
            <a href="{% url 'about' %}" class="navbar-link" data-nav-link>about us</a>
          </li>

        </ul>
      </nav>

      <a href=" class="btn" data-btn>Login</a>
      <a href="{% url 'register' %}" class="btn" data-btn>register</a> 

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <div class="hero has-before" id="home">
        <div class="container">

          <p class="section-subtitle">Enjoy The</p>

          <h1 class="h1 title hero-title">Website for real gamers!</h1>

          <a href="#" class="btn" data-btn>Join Discord</a>

          <div class="hero-banner">
            <img src="{% static 'webgame/assets/images/hero.png' %}" width="850" height="414" alt="hero banner" class="w-100">

            <img src="{%static 'webgame/assets/images/hero-banner-bg.png' %}" alt="" class="hero-banner-bg">
          </div>

        </div>
      </div>

      <!-- 
        - #จัดอันดับเกม
      -->

      <section class="section news" aria-label="our latest news" id="news">
        <div class="container">

          <h2 class="h2 section-title" data-reveal="bottom">
            จัดอันดับเกมที่น่าสนใจ <span class="span">เดือนตุลาคม</span>
          </h2>
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_1.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 1</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    1.	Starfield
                  </h3>

                  <p class="card-text">
                    Starfield เป็นเกมเน้นประสบการณ์ Open World RPG ในยุคที่มนุษย์มียานอวกาศให้ขับเดินทางไปดาวต่างๆ 
                    ได้แล้ว เกมจะเน้นให้ผู้เล่นมาเจอเควสสุดน่าติดตาม 
                  </p>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_2.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 2</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    2.	Fae Farm
                  </h3>

                  <p class="card-text">
                    เกมแนว Farm Sim RPG ที่มาพร้อมระบบการจำลองชีวิตสุดน่ารักในโลกที่เต็มไปด้วยความมหัศจรรย์ 
                    ผู้เล่นจะได้สร้างชีวิตชาวไร่ เป็นนักรบ หรือคราฟต์สิ่งของต่างๆ 
                  </p>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_3.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 3</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    3.	Synced
                  </h3>

                  <p class="card-text">
                    เกมแนวชูตติ้ง Roguelite PvPvE ในโลกอนาคตอันก้าวหน้าแต่ถึงคราวล่มสลายจากเทคโนโลยี 
                    ผู้เล่นจะได้จัดทีมกันและต่อสู้กับศัตรูซอมบี้ไซบอร์กร่วมกับ Nano 
                  </p>

                </div>

              </div>
            </li>

          </ul>

          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_4.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 4</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    4.	MythForce
                  </h3>

                  <p class="card-text">
                    เกมผจญภัย Roguelike ที่มาพร้อมกับเกมเพลย์แบบออนไลน์ Co-op 4 ผู้เล่น 
                    ให้ทุกคนได้เดินทางสู่ดันเจี้ยนสุดอันตรายที่เต็มไปด้วยกับดักและศัตรู รวมไปถึงสภาพแวดล้อมแบบ 
                    Procedural Generated 
                  </p>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_5.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 5</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    5.	Super Bomberman R 2
                  </h3>

                  <p class="card-text">
                    เกมวางระเบิดที่มาพร้อมกับประสบการณ์ใหม่ๆ มากมายไม่ว่าจะเป็นโหมด Castle 
                    ที่ให้ผู้เล่นจัดทีมรวมกันป้องกันประสาทแบบ PvP 
                    หรือจะเป็นโหมดสร้างฉากเองที่จะมีพื้นที่หรืออุปสรรคแปลกๆ ให้เลือกใช้ 
                  </p>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_6.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 6</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    6.	EA SPORTS FC™ 24
                  </h3>

                  <p class="card-text">
                    โดยการมาถึงของเกมภาคนี้ก็คือการสานต่อผลงานเดิมในชื่อใหม่นั่นเอง ซึ่งจะถือเป็นก้าวถัดไปของเกมฟุตบอลในเครือ EA ด้วย 
                    ผู้เล่นจะได้พบกับนักเตะกว่า 19,000 ชีวิตจาก 700 ทีม 
                  </p>

                </div>

              </div>
            </li>

          </ul>
          
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_7.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 7</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    7.	The Crew: Motorfest
                  </h3>

                  <p class="card-text">
                    เกมแนวรถแข่งรูปแบบอาร์เคดภาคใหม่ที่ยกระดับโลกโอเพนเวิลด์ให้กว้างใหญ่และเต็มไปด้วยรายละเอียดมากขึ้น 
                    ผู้เล่นจะได้เดินทางสู่ดินแดน O'ahu ในฮาวาย ท่องไปบนถนนสายความเร็ว
                  </p>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_8.jpg' %}" width="600" height="400" loading="lazy"
                    alt="How To Start Initiating An Startup In Few Days." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 8</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    8.	Lies of P
                  </h3>

                  <p class="card-text">
                    เกมแนวแอ็กชันสวมบทบาทพร้อมเกมเพลย์ Souls-like ที่ท้าทายความสามารถ 
                    พร้อมธีมของเรื่องราวได้รับแรงบันดาลใจมาจากนิทานเรื่อง 'พิน็อกคิโอ' แต่ดัดแปลงให้มีความสยองขวัญแบบหลอนๆ 
                  </p>

                </div>

              </div>
            </li>

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_9.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Financial Experts Support Help You To Find Out." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 9</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    9.	Mortal Kombat 1
                  </h3>

                  <p class="card-text">
                    เกมต่อสู้ภาคใหม่ล่าสุดจาก NetherRelam Studios โดยมีเนื้อหาอยู่ในไทม์ไลน์ใหม่ที่ถูกสร้างขึ้นมาโดย 
                    Liu Kang หลังจากเนื้อหาเกมภาค XI ซึ่งเจ้าตัวต้องการสร้างประวัติศาสตร์ใหม่ที่มีแต่ความสงบสุข 
                  </p>

                </div>

              </div>
            </li>

          </ul>
          
          <ul class="news-list">

            <li data-reveal="bottom">
              <div class="news-card">

                <figure class="card-banner img-holder" style="--width: 600; --height: 400;">
                  <img src="{% static 'webgame/assets/images/r_10.jpg' %}" width="600" height="400" loading="lazy"
                    alt="Innovative Business All Over The World." class="img-cover">
                </figure>

                <div class="card-content">

                  <a href="#" class="card-tag">อันดับที่ 10</a>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="card-meta-text" datetime="2022-01-01">Oct 09 2023 </time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <p class="card-meta-text">Wanchat</p>
                    </li>

                  </ul>

                  <h3 class="h3">
                    10.	Party Animals
                  </h3>

                  <p class="card-text">
                    สามปีเต็มๆ ที่เกมเมอร์สายฮารอคอยกับเกมปาร์ตี้หัวร้อน รับบทเป็นสัตว์ตัวจิ๋ว 
                    ตบตีกับเพื่อนด้วยอาวุธต่างๆ เช่นไม้เบสบอล อมยิ้ม หรือจะจับสัตว์มาต่อยกันก็ได้ 
                  </p>

                </div>

              </div>
            </li>

          </ul>
          
        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'webgame/assets/images/logo.svg' %}" width="150" height="73" loading="lazy" alt="Unigine logo">
          </a>

          <p class="footer-text">
            Our success in creating business solutions is due in large part to our talented and highly committed team.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Usefull Links</p>

          <ul>
            <li>
              <a href="#" class="footer-link">Help Center</a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Contact Us</p>

          <div class="contact-item">
            <span class="span">Location:</span>

            <address class="contact-link">
              6 Ratchamankha Nai Road, Phra Pathom Chedi Subdistrict Mueang Nakhon Pathom District, Nakhon Pathom 73000
            </address>
          </div>

          <div class="contact-item">
            <span class="span">Join Us:</span>

            <a href="mailto:Info@unigine.com" class="contact-link">TcpBoy.com</a>
          </div>
        </div>

        <div class="footer-list">

          <p class="title footer-list-title has-after">Newsletter Signup</p>

          <form action="./index.html" method="get" class="footer-form">
            <input type="email" name="email_address" required placeholder="Your Email" autocomplete="off"
              class="input-field">

            <button type="submit" class="btn" data-btn>Subscribe Now</button>
          </form>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 Website for educational purposes only.
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - #CUSTOM CURSOR
  -->

  <div class="cursor" data-cursor></div>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'webgame/assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>