{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- 
      - primary meta tags
    -->
    <title>TPBBOY for gamer</title>
    <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
    <meta name="description" content="This is an esports and gaming html template made by codewithsadee">
  
    <!-- 
      - favicon
    -->
    <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">
  
    <!-- 
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
      rel="stylesheet">
  
    <!-- 
      - custom css link
    -->
    <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">
  
    <!-- 
      - preload images
    -->
    <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
    <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">
</head>
<body>

    <header class="header active" data-header>
        <div class="container">
    
          <a href="#" class="logo">
            <img src="{% static 'webgame/assets/images/logo.svg' %}" width="110" height="53" alt="unigine home">
          </a>
    
          <nav class="navbar" data-navbar>
            <ul class="navbar-list">
    
              <li class="navbar-item">
                <a href="home.html" class="navbar-link" data-nav-link>home</a>
              </li>
              
              <li class="navbar-item">
                <a href="{% url 'news' %}" class="navbar-link" data-nav-link>news</a>
              </li>
    
              <li class="navbar-item">
                <a href="{% url 'history' %}" class="navbar-link" data-nav-link>history</a>
              </li>
    
              <li class="navbar-item">
                <a href="{% url 'chat' %}" class="navbar-link" data-nav-link>chat</a>
              </li>
              
              <li class="navbar-item">
                <a href="{% url 'about' %}" class="navbar-link" data-nav-link>about us</a>
              </li>
              
            </ul>
          </nav>
    
          <a href="{% url 'LoginView' %}" class="btn" data-btn>Login</a>
          <a href="{% url 'RegisterUserView' %}" class="btn" data-btn>Sign</a>   
        </div>
    </header>
    
    <main>
        <article>
    
          <!-- 
            - #HERO
          -->
    
            <div class="hero has-before" id="home">
                <div class="container">
        
                <p class="section-subtitle">Enjoy The</p>
        
                <h1 class="h1 title hero-title">Website for real gamers!</h1>
        
                <a href="#" class="btn" data-btn>Join Discord</a>
        
                <div class="hero-banner">
                    <img src="{% static 'webgame/assets/images/hero.png' %}" width="850" height="414" alt="hero banner" class="w-100">
        
                    <img src="{%static 'webgame/assets/images/hero-banner-bg.png' %}" alt="" class="hero-banner-bg">
                </div>
        
                </div>
            </div>
        </article>
    </main>

    <!-- เพิ่ม JavaScript -->
    <script src="{% static 'webgame/assets/js/script.js' %}"></script>
</body>
</html>
