{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- 
      - primary meta tags
    -->
    <title>TPBBOY for gamer</title>
    <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
    <meta name="description" content="This is an esports and gaming html template made by codewithsadee">
  
    <!-- 
      - favicon
    -->
    <link rel="shortcut icon" href="{% static 'webgame/assets/images/logo2.svg' %}" type="image/svg+xml">
  
    <!-- 
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
      rel="stylesheet">
  
    <!-- 
      - custom css link
    -->
    <link rel="stylesheet" href="{% static 'webgame/assets/css/style.css' %}">
  
    <!-- 
      - preload images
    -->
    <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner.png' %}">
    <link rel="preload" as="image" href="{% static 'webgame/assets/images/hero-banner-bg.png' %}">
</head>
<body>
    <div class="signup-container">
        <h1>Sign Up</h1>
        <form id="signup-form">
            <input type="text" id="username" placeholder="Username">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <script src="{% static 'webgame/assets/js/script.js' %}"></script>
</body>
</html>
